.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ccf;
  cursor: pointer;
}
.circle--active {
  background-color: #f1c232;
}
.circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin: 30px;
}
.circled {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 375px;
  align-content: center;
  flex-wrap: wrap;
}
