div#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 700px;
  justify-content: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  display: flex;
  width: auto;
  padding: 20px;
  text-align: center;
}

img {
  max-width: 90%;
}
.bichoImg {
  display: flex;
  justify-content: center;
  max-width: 800px;
}
button {
  background-color: #0d8e67;
  color: whitesmoke;
  font-weight: 900;
  font-size: 1.3rem;
  border-radius: 25px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  padding: 0px;
}
