.square {
  display: flex;
  width: 40px;
  height: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: blue;
}
.square:first-child,
.square:last-child {
  cursor: pointer;
}
.squares {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}
